$red: #de4e43;
$blue: #4f89a1;
$light-blue: #b1d1e0;
$lightest-blue: #faffff;
$yellow: #edb951;
$white: #fff;
$black: #000;
$text-color: #333;
$selection-bg-color: $yellow;
$selection-text-color: $text-color;
$twitter-color: #4099ff;
$dribbble-color: #ea4c89;
$rss-color: #f60;
