$palm-end: 30.0625em;

// Reset
// $selection-bg-color: $blue--dark;
// $selection-text-color: $white;

// Typography
// $code-block-padding: 0 ms(0) ms(1);
// $code-block-bg-color: $grey--light;
// $code-block-text-color: $black;
$base-font-size: 20px;
$base-line-height: 30px;
$base-font-stack: "rooney-web-1","rooney-web-2", georgia, serif;
$heading-font-stack: "adelle-1","adelle-2", georgia, sans-serif;
$heading-font-weight: normal;
