p, pre {
  margin-bottom: ms(1);
}

h1, .h1, .alpha,
h2, .h2, .beta,
h3, .h3, .gamma,
h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
  line-height: 1.25em;
  margin-bottom: ms(0);
}

ul, ol {
  margin-left: ms(2);
  margin-bottom: ms(1);
}

.bare-list {
  margin: 0;
  list-style-type: none;
}

pre {
  white-space: pre;
  word-wrap: normal;
}
