        </main>

        <footer role="contentinfo">
            <nav>
                <ul class="nav">
                    <li><a href="/" title="Read the blog">Blog</a></li>
                    <li><a href="/about" title="Find out about Dave Gillhespy">About</a></li>
                </ul>
            </nav>
            <div class="findme">
                <ul class="list--bare list--inline">
                    <li><a data="icon-twitter" href="http://twitter.com/yodasw16" title="@yodasw16 on twitter"></a></li>
                    <li><a data="icon-github" href="https://github.com/yodasw16/" title="yodasw16 on github"></a></li>
                    <li><a data="icon-dribbble" href="http://dribbble.com/yodasw16/" title="yodasw16 on dribbble"></a></li>
                    <li><a data="icon-email" href="mailto:yodasw16@gmail.com" title="yodasw16 on gmail"></a></li>
                    <li><a data="icon-rss" href="/feed.xml" title="rss"></a></li>
                </ul>
            </div>
            <a class="devtroit" href="http://devtroit.com"><img alt="Devtroit" src="/img/devtroit.svg"></a>
        </footer>

    <script type="text/javascript" src="//use.typekit.net/ofp4bhb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script>
        var _gaq=[['_setAccount','UA-8298397-7'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    </body>
</html>
