<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <link rel="preconnect" href="https://use.typekit.net">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>David Gillhespy: {{ page.title }}</title>
        <meta name="description" content="This is the personal homepage of Dave Gillhespy. He is awesome. You can trust him.">
        <meta name="author" content="Dave Gillhespy">
        <meta name="viewport" content="width=device-width">

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-152x152.png" />

        <link rel="stylesheet" href="https://use.typekit.net/ofp4bhb.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <header role="banner">
            <a href="/"><img class="logo" src="/img/logo.svg" alt="Dave Gillhespy: Director of Design Systems"></a>
        </header>

        <main role="main">
