html {
    background-color: $lightest-blue;
}

body {
    padding: 0 .5em;
}

.logo {
    width: 6em;
    margin: 0 auto;
    @include rhythm(1,0,0,1.75);
    display: block;
}

.list--bare {
    margin-left: 0;

    li {
        list-style-type: none;
    }
}

.list--inline {
    li {
        display: inline-block;
        margin-right: msem(1);

        &:last-child {
            margin-right: 0;
        }
    }
}

.findme {
    text-align: center;

    a {
        color: $blue;
        @include adjust-font-size-to(ms(4));

        &:hover {
            text-decoration: none;
            color: $red;
        }

        &[data="icon-twitter"]:hover {
            color: $twitter-color;
        }

        &[data="icon-github"]:hover {
            color: $black;
        }

        &[data="icon-dribbble"]:hover {
            color: $dribbble-color;
        }

        &[data="icon-rss"]:hover {
            color: $rss-color;
        }
    }
}

.hearts {
    @include trailer(1);
}

.hearts:after {
    content: '\e604 \e604 \e604';
    display: block;
    text-align: center;
    color: #de4e43;
    @include leader(1);
    @include adjust-font-size-to(ms(1));
}

main {
    word-wrap: break-all;
    word-wrap: break-word;

    @include breakpoint($palm-end) {
        max-width: 32em;
        margin: 0 auto;
    }
}

[role="contentinfo"] {
    margin: 0;
    margin-left: -.5em;
    margin-right: -.5em;
    @include trailer(1);

    .nav {
        text-align: center;

        li {
            display: inline-block;
            margin-right: msem(1);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:before {
        @include clearfix;
        @include trailer();
        content: " ";
        display: block;
        height: msem(-4);
        @include background-image(linear-gradient(
            left,
            $blue 0%,
            $blue 25%,
            $light-blue 25%,
            $light-blue 50%,
            $yellow 50%,
            $yellow 75%,
            $red 75%,
            $red 100%
        ));
    }

    @include breakpoint($palm-end) {
        margin: 0 auto;
        max-width: 32em;
    }
}

.posts li {
    @include trailer(1);

    &:last-of-type {
        margin-bottom: 0;
    }
}

.header--article {
    @include trailer();
}

.post-meta time {
    color: $blue;
}

.nav--pagination .current {
    font-weight: bold;
}

.mbn {
    margin-bottom: 0 !important;
}

blockquote {
  background: $white;
  border-left: 10px solid $yellow;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  padding-left: msem(-2);
  padding-right: msem(-2);
}

blockquote p:first-of-type:before {
    content: "";
}

blockquote p:last-of-type:after {
    content: "";
}

.inline-code {
    font-family: monospace;
    @include adjust-font-size-to(ms(-1));
    padding-left: msem(-4);
    padding-right: msem(-4);
    background-color: $light-blue;
    @include padding-trailer(.15);
    @include padding-leader(.15);
}