html {
    background-color: $lightest-blue;
}

body {
    padding: 0 .5em;
}

.logo {
    width: 6em;
    margin: 0 auto;
    display: block;
}

.list--bare {
    margin-left: 0;

    li {
        list-style-type: none;
    }
}

.list--inline {
    li {
        display: inline-block;
        margin-right: ms(1);

        &:last-child {
            margin-right: 0;
        }
    }
}

.findme {
    text-align: center;

    a {
        color: $blue;
        font-size: ms(4);

        &:hover {
            text-decoration: none;
            color: $red;
        }

        &[data="icon-twitter"]:hover {
            color: $twitter-color;
        }

        &[data="icon-github"]:hover {
            color: $black;
        }

        &[data="icon-dribbble"]:hover {
            color: $dribbble-color;
        }

        &[data="icon-rss"]:hover {
            color: $rss-color;
        }
    }
}

.hearts {
    margin-bottom: ms(1);
}

.hearts:after {
    content: '\e604 \e604 \e604';
    display: block;
    text-align: center;
    color: #de4e43;
    margin-top: ms(1);
    font-size: ms(1);
}

.devtroit {
    margin: 0 auto ms(1);
    width: 90px;
    display: block;
}

main {
    word-wrap: break-all;
    word-wrap: break-word;

    @include breakpoint($palm-end) {
        max-width: 32em;
        margin: 0 auto;
    }
}

[role="contentinfo"] {
    margin: 0;
    margin-left: -.5em;
    margin-right: -.5em;
    margin-bottom: ms(1);

    .nav {
        text-align: center;

        li {
            display: inline-block;
            margin-right: ms(1);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:before {
        @extend %clearfix;
        margin-bottom: ms(1);
        content: " ";
        display: block;
        height: ms(-4);
        background-image: linear-gradient(
            to right,
            $blue 0%,
            $blue 25%,
            $light-blue 25%,
            $light-blue 50%,
            $yellow 50%,
            $yellow 75%,
            $red 75%,
            $red 100%
        );
    }

    @include breakpoint($palm-end) {
        margin: 0 auto;
        max-width: 32em;
    }
}

.posts li {
    margin-bottom: ms(1);

    &:last-of-type {
        margin-bottom: 0;
    }
}

.header--article {
    margin-bottom: ms(1);
}

.post-meta time {
    color: $blue;
}

.nav--pagination .current {
    font-weight: bold;
}

.mbn {
    margin-bottom: 0 !important;
}

blockquote {
  background: $white;
  border-left: 10px solid $yellow;
  padding: ms(-2);
}

blockquote p:first-of-type:before {
    content: "";
}

blockquote p:last-of-type:after {
    content: "";
}

.inline-code {
    font-family: monospace;
    font-size: ms(-1);
    padding: ms(-4);
    background-color: $light-blue;
}
