$palm-end: 30.0625em;

// Typography
$base-font-size: 1.25rem;
$base-line-height: 1.85rem;
$base-font-stack: "rooney-web-1","rooney-web-2", georgia, serif;
$heading-font-stack: "adelle-1","adelle-2", georgia, sans-serif;
$heading-font-weight: normal;
$code-block-bg-color: inherit;
$code-block-text-color: inherit;
