<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dave Gillhespy: Web User-Interface Developer</title>
    <meta name="description" content="This is the personal homepage of Dave Gillhespy. He is awesome. You can trust him.">
    <meta name="author" content="Dave Gillhespy">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="favicon.ico">
    {{{style-ext 'style.css'}}}

  </head>

  <body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {{{body}}}

  {{#if options.development}}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':{{options.lrport}}/livereload.js?snipver=1"></' + 'script>')
    </script>
  {{/if}}

  <script type="text/javascript" src="//use.typekit.net/ofp4bhb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script>
    var _gaq=[['_setAccount','UA-8298397-7'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  </body>
</html>